@tailwind utilities;
@tailwind components;
@tailwind base;

body {
  @apply dark:text-neutral-400;
}

.img-cover {
  object-fit: cover;
  -webkit-mask-image: url(./assets/pattern-11.svg);
  mask-image: url(./assets/pattern-11.svg);
  /* background-image: url(../assets/pattern-11.svg); */
}

@media(min-width: 768px){
.mask {
	-webkit-mask-image: linear-gradient(
	  transparent calc(100% - 140px),
	  black calc(100% - 118px)
	);
	mask-image: linear-gradient(
	  transparent calc(100% - 140px),
	  black calc(100% - 118px)
	);
  }
}
