@tailwind base;
@tailwind components;
@tailwind utilities;

.img-cover {
  /* -webkit-mask-size: 60%; */
  /* mask-size: 60%; */
  -webkit-mask-repeat: repeat;
  mask-repeat: repeat;   
  /* object-fit: cover; */
  -webkit-mask-image: url(./assets/pattern-11.svg);
  mask-image: url(./assets/pattern-11.svg);
  /* background-image: url(../assets/pattern-11.svg); */
}

html {
}

.chat-bubble-right {
  border-bottom-right-radius: 0px;
}
.chat-bubble-right::before {
  content: "";
  background-color: inherit;
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  left: 100%;
  bottom: 0;
  mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMycgaGVpZ2h0PSczJyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPjxwYXRoIGZpbGw9J2JsYWNrJyBkPSdtIDAgMyBMIDEgMyBMIDMgMyBDIDIgMyAwIDEgMCAwJy8+PC9zdmc+);
  -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMycgaGVpZ2h0PSczJyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPjxwYXRoIGZpbGw9J2JsYWNrJyBkPSdtIDAgMyBMIDEgMyBMIDMgMyBDIDIgMyAwIDEgMCAwJy8+PC9zdmc+);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
}

.chat-bubble-left {
  border-bottom-left-radius: 0px;
}
.chat-bubble-left::before {
  content: "";
  background-color: inherit;
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  left: -0.75rem;
  bottom: 0;
  mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMycgaGVpZ2h0PSczJyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPjxwYXRoIGZpbGw9J2JsYWNrJyBkPSdtIDAgMyBMIDMgMyBMIDMgMCBDIDMgMSAxIDMgMCAzJy8+PC9zdmc+);
  -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMycgaGVpZ2h0PSczJyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPjxwYXRoIGZpbGw9J2JsYWNrJyBkPSdtIDAgMyBMIDMgMyBMIDMgMCBDIDMgMSAxIDMgMCAzJy8+PC9zdmc+);
  mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
}
